* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("../src/assets/puds.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
