*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  font-family: "Cantora One", sans-serif;
  font-size: 1em;
}

html{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  /* background: url('https://picsum.photos/id/237/200/300'); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
