.dogCard {
  margin: 10px 15px;
    padding: 2px;
    width: 280px;
    height: 360px;
    border-radius: 12px;
    box-shadow: 6px 7px 8px -6px rgba(69,69,69,0.7);
    position: relative;
    background-color:rgb(1, 53, 5);
    background-size: cover;
    background-position: -20px -50%;
  }

  .dogName{
    margin-top: 15px;
    text-align: center;
  }
  
  .titleArea {
    font-size: 23px;
    padding-top: 5px;
    margin: 5px;
    margin-bottom: 15px;
    min-height: 40px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .infoArea {
    font-size: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  
  .tempArea {
    margin:20px 15px;
    padding: 6px;
    max-width: 100%;
  }
  
  .dogTemp {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .imageArea {
    display: flex;
    justify-content: center;
    margin: 15px 10px 0 3px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 4%;
  }
  
  .dogImage {
    /* display: block; */
    top: 50%;
    left: 50%;
    border-radius: 2%;
  }