.crumbs {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 0.1rem;
}

.crumb {
  margin: 20px 5px;
  font-size: 14px;
  width: 32px;
  display: block;
  padding: 0.5rem .3rem;
  text-decoration: none;
  color: white;
  background-color: rgb(18, 42, 41);
  border-radius: 0.2rem;
  border: 0.0625rem solid #d7d7d7; /* 1px */
  box-shadow: 6px 7px 8px -6px rgba(69,69,69,0.7);
}

.crumb:hover, .crumb__active {
  background-color: #444c5c;
  color: #f5f9ff;
  border-color: #1d1f20;
}
