.crumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 0.2rem;
}

.crumb {
  font-size: 15px;
  width: 32px;
  display: block;
  padding: 0.5rem .3rem;
  text-decoration: none;
  color: currentColor;
  border-radius: 0.2rem;
  border: 0.0625rem solid #d7d7d7; /* 1px */
  box-shadow: 6px 7px 8px -6px rgba(69,69,69,0.7);
}

.crumb:hover, .crumb__active {
  background-color: #1d1f20;
  color: #fdfdfd;
  border-color: #1d1f20;
}

.crumb__prev { margin-right: 0.5rem; cursor: w-resize; }
.crumb__next { margin-left: 0.5rem; cursor: e-resize; }