.mainConteinerAbout{
    margin-top: 120px;
    margin-left: 20%;
    margin-right: 10%;
    max-width: 75%;
    font-weight: 300;
    font-size: 25px;
}
.imageDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageDiv > img{
    border-radius: 50%;
    margin: 20px;
    border: 5px solid white;
}

.linksItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.links > span > a {
    text-align: center;
    margin: 12px;
}

.links > span > a:first-child {
    margin-left: 0;
}